body {
    background: url("topography.png");
    font-family: 'Roboto', sans-serif;
}
.logo {
    position: absolute;
    left: 30px;
    top: 25px;
}

header {

    width:100%;
    height:50px;
    background-color: rgb(24, 24, 24);
}
.list {
display: flex;
list-style-type: none;
justify-content: flex-end;
align-items: center;

} 
li {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
    color:purple;
    text-decoration:underline;
    cursor: pointer;
}
a {
    color: purple;
}

.podnadpis {
    color: rgb(224, 0, 194);
}
.article {
    width: 70%;
    margin-left: 10%;
}

.mezi {
position: relative;
display: flex;
justify-content: center;


}